<%= @atm.latitude %>
<%= @atm.longitude %></br>

<% @test["results"][0..9].each do |n| %>
	<%= n["name"] %>
	<%= n["vicinity"] %> </br>
<%end%>



  <div id="map" style='width: 500px; height: 400px;'></div>


<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 44.540, lng: -78.546},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCPwM-ZPcwMIyqNqVPdfi-y8LoBerEl3WU"
         async defer>
</script>
